.first{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100px;
    width: 600px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
.upcoming{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.title {
    order: 0;
    width: 600px;
}
